#############
## Windows
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

__pycache__/
Compile*/
Testing/
Archives/
Freeze/
bin/
!Tools/bin
.brackets.json
*.blend1
*.blend2
*.bak*
*.zip
*.cfg
*.exe
*.TXT
!test/*-files/*.txt
!requirements.txt
!LICENSE.RunAsAdmin.txt
